.container {
  max-width: 100%;
  margin: 0;
  background-color: #fffffe;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
  background: #bdd1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
}

.account {
  font-size: 1rem;
  font-weight: 500;
  color: #1943b8;
  text-transform: uppercase;
}
